/* flexrow and flexcol (ahem) "borrowed" from the D&D 5e LESS files, many thanks to atropos */
.flewrow {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.flewcol {
    display: flex;
    flex-flow: column nowrap;
}

form.flexcol {
    h1.character {
        flex: 0;
        font-size: 24px;

        p {
            input.descriptor {
                width: 15ch;
            }
    
            input.focus {
                width: 30ch;
            }
    
            span.charname {
                font-weight: bold;
            }
        }
    }

    div.flexrow {
        > div:not(:first-child) {
            border-left: 1px solid #782e22;
            padding-left: 1em;
        }

        div {
            h2 {
                border: none;
            }
    
            h3.stats {
                text-transform: capitalize;
            }
    
            input.stats {
                width: 30px;
            }
        }
    }
}