@font-face {
    font-family: "Ogirema";
    src: url("fonts/ogirema.ttf") format("ttf");
}

$foundry-border-color: #782e22;
$border-color: #325d6d;
$font-stack: Ogirema;

@mixin editor($class, $height, $id) {
    div.#{$class}  {
        height: #{$height};

        .editor {
            height: 100%;
        }

        button#save-#{$id} {
            width: 99%;
        }
    }
}

span.numenera-message-special {
    font-weight: bold;
    font-size: large;
}

form.numenera {
    height: 100%;
    font-family: $font-stack;

    button#recoveryRoll {
        width: 75%;

        h2 {
            font-family: $font-stack;
            margin: 0;
        }
    }

    a i.handle {
        cursor: move;
    }

    a.rollable {
        height: auto;
        width: auto;

        & > img {
            border: 0;
            height: 24px;
            width: 24px;
        }
    }

    /* flexrow and flexcol (ahem) "borrowed" from the D&D 5e LESS files, many thanks to atropos */
    .flewrow {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    .flexcol {
        display: flex;
        flex-flow: column nowrap;
    }

    li {
        list-style-type: none;
    }

    h1.character {
        font-size: 24px;
        margin: 0;
        border: 0;
        padding-bottom: 0.25em;

        input {
            margin-top: 0.5em;
            height: auto;

            &.charname {
                font-weight: bold;
                width: 18ch;
            }

            &.descriptor {
                width: 12ch;
            }

            &.characterType {
                width: 8ch;
            }

            &.focus {
                width: 25ch;
            }
        }
    }

    h1 input[type="text"] {
        height: auto;
        width: auto;
        margin-bottom: 0.25em;
    }

    h2 {
        border: none;
        padding-top: 0.5em;

        &:not(.stat) {
            margin-left: 1em;
        }
    }

    p.description {
        font-style: italic;
    }

    label {
        margin: 0 0.5em 0 0.5em;
    }

    &.pc {
        input[data-dtype="Number"] {
            width: 2em;

            &.tier {
                width: 1ch;
            }
        }
    }

    div.header {
        border: 1px solid $border-color;

        h2,h3 {
            font-weight: bold;
        }

        h3 {
            margin-top: 0.25em;
        }

        div.contents > div > div:not(:last-child) {
            border-right: 1px solid $border-color;
        }

        div.picture {
            border-right: 1px solid $border-color;
            padding: 0.25em 0.25em 0.25em 0.25em;
            flex: 0.4;

            img.profile-img {
                border: none;
                width: inherit;
                max-width: 250px;
                max-height: 400px;
                margin-bottom: 1em;
            }
        }

        div > div.npc-info,div.community-info {
            flex: 0.25;

            h1 {
                margin-left: 0.5em;
                margin-right: 0.5em;

                input.charname {
                    width: 70%;
                }

                input.level {
                    width: 3em;
                    align-content: center;
                }
            }
        }

        div > div.npc-stats,div.community-stats {
            flex: 0.15;
            padding: 1em;
            text-align: center;

            label {
                padding-top: 2px;
                font-size: 16px;
                font-weight: bold;
            }

            input {
                width: 2ch;
            }
        }

        ul {
            text-align: left;

            li input {
                height: 12px;
            }
        }
    }

    div {

        &.pc-info {
            border: 0;
        }

        &.numenera {
            h2 {
                margin: 0;
                flex: 0;
                font-weight: bold;
            }

            textarea {
                overflow: scroll;
            }

            ul {
                padding: 0 0.75em 0 0.75em;

                & > li {
                    padding: 0.15em;
                    border: 1px solid darkslategrey;
                    border-radius: 0.25em;

                    & > h4 {
                        font-size: large;
                        font-weight: bold;
                    }

                    & > p > span,label {
                        font-weight: bold;
                    }

                    & > a {
                        float: right;
                    }

                    & input[type="number"] {
                        width: 3em;
                    }

                    & button.artifact-depletion-roll {
                        width: auto;
                        font-size: 12px;
                    }
                }
            }

            h3.cypher-limit-warning {
                font-weight: bold;
            }

            input.cypher-type {
                width: auto;
            }
        }

        div.advances, div.recovery {
            input[type="checkbox"] {
                display: inline-block;
            }
        }

        div.stats {
            padding: 0.3em 0 0.3em 0;
            text-align: center;

            h2 {
                text-transform: capitalize;
                padding-top: 0;

                button.roll {
                    margin-left: 1em;
                }
            }
        }

        h3.shins > input[data-dtype="Number"] {
            width: 5em;
        }

        table {
            td {
                padding: 5px;
                margin: 5px 0;
                font-weight: bold;
                font-size: 16px;
                text-align: center;
                vertical-align: center;
            }

            &.armor {
                input.armor-name-input {
                    width: auto;
                }

                select.armor-weight {
                    margin-right: 0.5em
                }

                input.armor-value,input.armor-effort-cost {
                    width: 3em;
                }
            }

            &.abilities {
                //Gray out ability cost controls when value is 0 or undefined
                div.nocost {
                    opacity: 0.6;
                }

                input[type="number"] {
                    width: 3em;
                }
            }

            &.equipment {
                input.equipment-name-input {
                    width: 100%;
                }

                input.equipment-quantity {
                    width: 3em;
                }

                input.equipment-notes {
                    width: 100%;
                }
            }

            &.weapons {
                input.weapon-name-input {
                    width: auto;
                }

                select.weapon-weight {
                    margin-right: 0.5em
                }

                input.weapon-damage {
                    width: 3em;
                }
            }
        }

        table.skills, table.abilities {
            background-color: transparent;

            td {
                padding: 5px;
                margin: 5px 0;
                font-weight: bold;
                font-size: 16px;
                text-align: center;
                vertical-align: center;
            }

            tbody td input[type="text"] {
                text-align: left;
                width: 100%;

                &.skill-name-input, &.ability-name-input {
                    width: 95%; //HACK! find a better way plz
                }
            }
        }
    }

    div.flexrow:not(:last-child) {
        border-bottom: 1px solid $border-color;
        padding-bottom: 0.75em;
    }

    //TinyMCE editors
    @include editor("description", 425px, "bio");

    $totalDescriptionHeight: 285px;
    $buttonHeight: 34px;
    $descriptionHeight: $totalDescriptionHeight - $buttonHeight;

    @include editor("npc-description", $descriptionHeight, "npc-description");
    @include editor("npc-info", $descriptionHeight, "npc-info");

    @include editor("community-overview", $descriptionHeight, "community-overview");
    @include editor("community-government", $descriptionHeight, "community-government");
    @include editor("community-combat", $descriptionHeight, "community-combat");
    @include editor("community-info", $descriptionHeight, "community-info");

    @include editor("item-notes", $descriptionHeight, "item-notes");


    div.npc-modifications,div.community-modifications {
        display: flex;
        flex-direction: column;

        textarea {
            flex: 1;
        }
    }

    &.item {

        h1 {
            width: 100%;

            input[type="text"] {
                width: inherit;
            }
        }

        div.item {
            &:not(:first-child) {
                margin-top: 0.5em;
            }
    
            label {
                font-weight: bold;
            }
    
            input[type="number"] {
                width: 4em;
            }

            & > div {
                &:not(.item-notes) {
                    display: flex;
                    flex-direction: column;
                }

                textarea {
                    flex: 1;
                }
    
                &.img {
                    flex: 0.5;
                    margin-right: 0.5em;
                }

                &.description {
                    height: 95%;
                    vertical-align: top;
                }
            }
    
            textarea {
                width: auto;
                height: 100%; 
                box-sizing: border-box;
                margin: 0 0.5em 0 0.5em;
            }
    
            label {
                clear: both;
                display: block;
                margin: 0.25em 0.5em 0 0.5em;
            }
        }
    }

    //Tabs
    nav {
        margin: 0.5em 0 0.5em 0;
        border: 1px solid black;
        border-radius: 8px;

        &.sheet-tabs {
            flex: 0;
        }
    }

    a.item {
        font-size: 22px;
        font-weight: bold;
    }

    //Separators, borrowed from https://github.com/Roll20/roll20-character-sheets/blob/master/Numenera/Numenera.css
    hr.sheet-one {
        margin: 0;
        height: 20px;
        border-style: solid;
        border-color: #056da1;
        border-width: 1px 1px 0 0;
        border-radius: 20px;
    }

    hr.sheet-one:before {
        display: block;
        content: "";
        height: 20px;
        margin-top: -21px;
        border-style: solid;
        border-color: #056da1;
        border-width: 0 0 1px 1px;
        border-radius: 20px;
    }

    hr.sheet-two {
        border: 0;
        height: 1px;
        background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(5,109,161,1.75), rgba(0,0,0,0));
        background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(5,109,161,1.75), rgba(0,0,0,0));
        background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(5,109,161,1.75), rgba(0,0,0,0));
        background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(5,109,161,1.75), rgba(0,0,0,0));
    }

    hr.sheet-three {
        height: 20px;
        border-style: solid;
        border-color: $border-color;
        border-width: 1px 0px 0px 1px;
        border-radius: 20px;
    }
    hr.sheet-three:before { /* Not really supposed to work, but does */
        display: block;
        content: "";
        height: 20px;
        margin-top: -21px;
        border-style: solid;
        border-color: $border-color;
        border-width: 0px 1px 1px 0px;
        border-radius: 20px;
    }

	#pc-sheet-body .item-icon {
	    padding-left: 0px;
		padding-right: 0px;
		margin-left: 0px;
		margin-right: 0px;
	}

	#pc-sheet-body img {
		max-width: 42px;
		border: none;
    }

    .gu-mirror .item-icon img {
        width: 42px !important;
    }

    table.cypher-header-table, table.artifact-header-table, table.oddity-header-table {
        background-color: transparent;
        border:none;
        padding-bottom:0px;
        margin-bottom:0px;
        width: 100%;

        td {
            width: 0%;
            padding: 0px;
            margin: 0px;
            padding-left: 4px;
            padding-right: 4px;
            font-weight:normal;
            font-size:1em;
            text-align: center;
            vertical-align: center;
        }

        td h4 {
            font-weight: bold;
            font-size: 1.3em !important;
        }

        td.ability-icon {
            padding-left:8px;
            padding-right:8px;
        }

        td.cypher-name, td.artifact-name {
            width: 15%;
            text-align: center;
        }

        td.oddity-name {
            width: 25%;
            text-align: center;
        }

        td.cypher-level, td.artifact-level {
            width: 25%;
            text-align: center;
        }

        td.cypher-description, td.artifact-description {
            width: 60%;
            text-align: left;
        }

        td.oddity-description {
            width: 75%;
            text-align: left;
        }
    }
}

form.numenera-recovery {
    font-family: $font-stack;

    h1 {
        padding-bottom: 0.25em;
        margin-bottom: 0;

        button {
            font-weight: bold;
            font-size: 18px;
            float: right;
            width: 8em;
        }
    }

    h2 {
        font-weight: bold;
        margin-top: 0.5em;
        border: 0;
    }

    & > div.columns {
        & > div {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            &:first-child {
                border-right: 2px solid $foundry-border-color;
            }

            &.disabled {
                color: lightslategray;
            }

            button {
                margin-top: 1em;
                justify-self: flex-end;
                width: 60%;
            }

            &.recoveries {
                p {
                    font-size: 16px;
                    font-weight: bold;
                }
            }

            &.pools {
                input[type="number"].pool {
                    width: 3em;
                }

                label {
                    font-size: 16px;
                    font-weight: bold;
                    text-transform: capitalize;
                    margin-right: 0.4em;
                }

                div.stats {
                    display: block;
                    margin-top: 0.5em;
                }
            }
        }
    }
}

#token-hud {
    #innerTokenHud {
       height: 100%;
    }

    #cypherTokenStats {
        margin: 0px;
        padding: 0px;
        position: absolute;
        width: 300%;
        top: -85px;
        left: -100%;

        div {
            display: inline-block;
        }

        .attribute {
            padding: 0px;
            margin: 0px;
            width: 30%;
        }
        .attribute.bar1 input {
            border: 2px solid #ff443d !important;
        }
        .attribute.bar2 input {
            border: 2px solid #87ff3d !important;
        }
        .attribute.bar3 input {
            border: 2px solid #3ddbff !important;
        }
    }
}

#apologyBox {
    display: block;
    padding: 4px 12px 4px 12px;
    margin: 8px;
    border: 1px solid #737373;
}
