@font-face {
    font-family: "Ogirema";
    src: url("fonts/ogirema.ttf") format("ttf");
}

/// ----------
/// ALL THE VARIABLES
/// ----------

$foundry-border-color: #4ec51f;
$border-color: rgba(180, 180, 180, 0.5);
$input-border-color: rgba(245, 245, 245, 0.15);
$font-stack: Ogirema;
$font-color: #131517;
$font-edit-color: #093f55;
$glow: 0 0 3px #FF0000, 0 0 5px #0000FF;
$bggrad: linear-gradient(225deg, rgba(0, 0, 0, 0) 0%, rgba(189, 107, 107, 0.267) 50%, #2294b133 80%);

@mixin editor($class, $height, $id, $exclusion: "") {
    $exclusionSelector: "";
    @if $exclusion != "" {
        $exclusionSelector: ":not(.#{$exclusion})"
    }

    div.#{$class}#{$exclusionSelector} {
        height: #{$height};

        .editor {
            height: 100%;
        }

        button#save-#{$id} {
            width: 99%;
        }
    }
}

body {
    margin: 0;
    padding: 0;
}

/// ----------
/// MESSAGE WINDOWS
/// ----------

span.numenera-message-special {
    font-weight: bold;
    font-size: large;
    color: $font-color
}

/// ----------
/// NUMENERA PC SHEET SETTINGS
/// ----------

form.numenera {
    max-width: 1200px;
    font-family: $font-stack;
    color: $font-color;
    border-radius: 10px;
    background-image: url("images/jpg/testbg.jpg");
    background: $bggrad;

    //How to make child div scrollable when it exceeds parent height?
    //https://stackoverflow.com/a/49107669/20043
    display: flex;
    flex-direction: column;
    overflow-y: hidden;

    /* flexrow and flexcol (ahem) "borrowed" from the D&D 5e LESS files, many thanks to atropos */
    .flewrow {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    .flexcol {
        display: flex;
        flex-flow: column nowrap;
    }

    li {
        list-style-type: none;
    }

    img.d20 {
        height: 32px;
        width: 32px;
    }

    /// ----------
    /// NAME / DESCRIPTOR / TYPE / FOCUS
    /// ----------

    h1.character {
        font-size: 24px;
        padding-left: 5px;
        border-bottom: 0 solid $border-color;
        margin: 0 0 0 0;

        input {
            margin-top: 0.5em;
            height: auto;
            color: $font-edit-color;
            border-color: $input-border-color;
            transition: 0.3s;

            &.charname {
                font-weight: bold;
                width: 18ch;
            }

            &.descriptor {
                width: 12ch;
            }

            &.characterType {
                width: 8ch;
            }

            &.focus {
                width: 25ch;
            }
        }

        input:hover {
            text-shadow: $glow;
            color: whitesmoke;
        }
    }

    h1.texp {
        font-size: 18px;
        text-align: right;
        padding-right: 1em;
        padding-top: 0.25em;
        background-color: rgba(255, 255, 255, 0.25);
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        margin: 0;
    }

    h1 input[type="text"] {
        height: auto;
        width: auto;
        margin-bottom: 0.25em;
    }

    div.limited p {
        font-size: 1.3em;
    }

    /// ----------
    /// PC STATS / TIER / ADVANCEMENT / RECOVERY
    /// ----------

    h2 {
        border: none;
        padding-top: 0.5em;

        &.stat {
            margin-top: 0.15em;
            padding: 0.15em;
        }

        &.damagetrack {
            margin-top: 0.15em;
            padding-top: 0.15em;

            &:not(:first-of-type) {
                border-top: 1px;
            }
        }

        &:not(.stat) {
            margin-left: 1em;
        }
    }

    label {
        margin: 0 0.5em 0 0.5em;
    }

    &.pc {
        input[data-dtype="Number"] {
            width: 2em;


            &.tier {
                width: 1ch;
            }
        }

        input[type="text"] {
            margin-bottom: 0.25em;
            background-color: none;
            border: $input-border-color;
            color: $font-edit-color;
        }
    }

    p.description {
        font-style: italic;
    }

    div.header {

        h2,h3 {
            font-weight: bold;
        }

        h3 {
            margin-top: 0.25em;
        }

        /// ----------
        /// IMAGE
        /// ----------

        div.picture {
            padding: 0.25em 0.25em 0.25em 0.25em;
            flex: 0.4;

            img.profile-img {
                border: none;
                z-index: 2;
                width: inherit;
                max-width: 240px;
                max-height: 400px;
                transition: 0.3s;
            }

            img.profile-img:hover {
                filter: brightness(50%);
            }
        }


        a i.handle {
            cursor: move;
        }

        a.rollable {
            height: auto;
            width: auto;

            & > img {
                border: 0;
                height: 36px;
                width: 36px;
            }
        }

        div > div.npc-info,div.community-info {
            &:not(.limited) {
                flex: 0.25;
            }
            .limited {
                display: block;
            }
            

            h1 {
                margin-left: 0.5em;
                margin-right: 0.5em;

                input.charname {
                    width: 70%;
                }

                input.level {
                    width: 3em;
                    align-content: center;
                }
            }
        }

        div > div.npc-stats,div.community-stats {
            &:not(.limited) {
                flex: 0.15;
                text-align: center;
            }

            .limited {
                display: block;
            }
            
            padding: 1em;
            

            label {
                padding-top: 2px;
                font-size: 16px;
                font-weight: bold;
            }

            input {
                width: 2ch;
            }
        }

        ul {
            text-align: left;

            li input {
                height: 12px;
            }
        }
    }

    div {

        &.pc-info {
            border: 0;
        }

        &.numenera {
            h2 {
                margin: 0;
                flex: 0;
                font-weight: bold;
            }

            textarea {
                overflow: scroll;
            }

            ul {
                padding: 0 0.75em 0 0.75em;

                & > li {
                    padding: 0.15em;
                    border: 1px solid darkslategrey;
                    border-radius: 0.25em;

                    & > h4 {
                        font-size: large;
                        font-weight: bold;
                    }

                    & > p > span,label {
                        font-weight: bold;
                    }

                    & > a {
                        float: right;
                    }

                    & input[type="number"] {
                        width: 3em;
                    }

                    & button.artifact-depletion-roll {
                        width: auto;
                        font-size: 12px;
                    }
                }
            }

            h3.cypher-limit-warning {
                font-weight: bold;
            }

            input.cypher-type {
                width: auto;
            }
        }

        div.advances, div.recovery {
            input[type="checkbox"] {
                display: inline-block;
            }

            input.tempBonus {
                width: 4ch;
            }
        }

        div.stats {
            padding: 0.5em 0 0 0;
            text-align: center;
            border-color: black;
            border-width: 1px;

            h2 {
                text-transform: capitalize;

                button.roll {
                    margin-left: 1em;
                }
            }

            div.statroll {
                padding-top: 1em;
                text-shadow: 0 0 5px white;
                background-image: url("images/svg/uparrow1.svg");
                background-position: center;
                background-repeat: no-repeat;
                transition: 0.3s;
            }

            div.statroll:hover {
                text-shadow: purple;
                background-image: url("images/svg/uparrow2.svg");
                filter: invert(100%) drop-shadow(0px 0px 10px purple);
                color: black;
            }

            div.statedit {
                padding-top: 1em;
                padding-bottom: 4px;
            }
        }

        h3.shins > input[data-dtype="Number"] {
            width: 5em;
        }

        table {
            .thead {
                background-color: rgba(0, 0, 0, 0);
            }

            tr {
                background-color: rgba(0, 0, 0, 0);
                color: whitesmoke;
                text-shadow: none;

                &.cypher-header {
                    color: #131517;
                }
            }

            tr:hover {
                background-color: rgba(0, 0, 0, 0.1)
            };

            td {
                padding: 5px;
                margin: 5px 0;
                font-weight: bold;
                font-size: 16px;
                text-align: center;
                vertical-align: center;
                border-bottom: 1px solid $border-color;
            }

            &.armor {
                input.armor-name-input {
                    width: auto;
                }

                select.armor-weight {
                    margin-right: 0.5em
                }

                input.armor-value,input.armor-effort-cost {
                    width: 3em;
                }
            }

            &.abilities {
                //Gray out ability cost controls when value is 0 or undefined
                div.nocost {
                    opacity: 0.6;
                }

                input[type="number"] {
                    width: 3em;
                }
            }

            &.equipment {
                input.equipment-name-input {
                    width: 100%;
                }

                input.equipment-quantity {
                    width: 3em;
                }

                input.equipment-notes {
                    width: 100%;
                }
            }

            &.weapons {
                select.weapon-weight {
                    margin-right: 0.5em
                }

                div.ammo {
                    margin-top: 3px;
                }

                label {
                    min-height: 1.2em;
                    font-weight: normal;
                    color: black;
                }

                input {
                    &.weapon-name-input {
                        width: 16ch;
                    }
    
                    &.weapon-damage {
                        width: 2em;
                    }

                    &.weapon-ammo {
                        width: 2em;
                    }
                }
            }
        }

        table.skills, table.abilities, table.powerShifts {
            background-color: transparent;

            td {
                padding: 5px;
                margin: 5px 0;
                font-weight: bold;
                font-size: 16px;
                text-align: center;
                vertical-align: center;
            }

            tbody td input[type="text"] {
                text-align: left;
                width: auto;
                border: $input-border-color;
                color: $font-edit-color;

                &.skill-name-input, &.ability-name-input, &.powerShift-description-input {
                    width: 95%; //HACK! find a better way plz
                }
            }
        }

        table.powerShifts tbody tr {
            td.powerShift-name {
                width: 18ch;
            }
        }
    }

    div.flexrow:not(:last-child) {
        border-bottom: 1px solid $border-color;
        padding-bottom: 0.25em;
    }

    //TinyMCE editors
    @include editor("description", 425px, "bio");

    $totalDescriptionHeight: 285px;
    $buttonHeight: 34px;
    $descriptionHeight: $totalDescriptionHeight - $buttonHeight;

    @include editor("npc-description", $descriptionHeight, "npc-description", "limited");
    @include editor("npc-info", $descriptionHeight, "npc-info", "limited");

    @include editor("community-overview", $descriptionHeight, "community-overview");
    @include editor("community-government", $descriptionHeight, "community-government");
    @include editor("community-combat", $descriptionHeight, "community-combat");
    @include editor("community-info", $descriptionHeight, "community-info", "limited");

    @include editor("item-notes", $descriptionHeight, "item-notes");


    div.npc-modifications,div.community-modifications {
        display: flex;
        flex-direction: column;

        textarea {
            flex: 1;
        }
    }

    &.item {

        h1 {
            width: 100%;

            input[type="text"] {
                width: inherit;
            }
        }

        div.item {
            &:not(:first-child) {
                margin-top: 0.5em;
            }
    
            label {
                font-weight: bold;
            }
    
            input[type="number"] {
                width: 4em;
            }

            & > div {
                &:not(.item-notes) {
                    display: flex;
                    flex-direction: column;
                }

                textarea {
                    flex: 1;
                }
    
                &.img {
                    flex: 0.5;
                    margin-right: 0.5em;
                }

                &.description {
                    height: 95%;
                    vertical-align: top;
                }
            }
    
            textarea {
                width: auto;
                height: 100%; 
                box-sizing: border-box;
                margin: 0 0.5em 0 0.5em;
            }
    
            label {
                clear: both;
                display: block;
                margin: 0.25em 0.5em 0 0.5em;
            }
        }
    }

    //Tabs
    nav {
        margin: 0.25em 0 0.25em 0;
        background-color: #00000010;

        &.sheet-tabs {
            flex: 0;
            //These 2 properties are useful in case of multi-line tab names
            height: inherit;
            line-height: inherit;
        }
    }

    a.item {
        font-size: 22px;
        font-weight: bold;
    }

    //Separators, borrowed from https://github.com/Roll20/roll20-character-sheets/blob/master/Numenera/Numenera.css
    //Numenera
    hr.sheet-one {
        margin: 0;
        height: 20px;
        border-style: solid;
        border-color: $border-color;
        border-width: 10px 10px 0 0;
    }

    hr.sheet-one:before {
        display: block;
        content: "";
        height: 20px;
        margin-top: -21px;
        border-style: solid;
        border-color: $border-color;
        border-width: 0 0 10px 10px;
        border-radius: 20px;
    }

    hr.sheet-two {
        border: 0;
        height: 1px;
        background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(5,109,161,1.75), rgba(0,0,0,0));
        background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(5,109,161,1.75), rgba(0,0,0,0));
        background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(5,109,161,1.75), rgba(0,0,0,0));
        background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(5,109,161,1.75), rgba(0,0,0,0));
    }

    hr.sheet-three {
        height: 20px;
        border-style: solid;
        border-color: $border-color;
        border-width: 1px 0px 0px 1px;
        border-radius: 20px;
    }
    hr.sheet-three:before { /* Not really supposed to work, but does */
        display: block;
        content: "";
        height: 20px;
        margin-top: -21px;
        border-style: solid;
        border-color: $border-color;
        border-width: 0px 1px 1px 0px;
        border-radius: 20px;
    }

	#pc-sheet-body {
        overflow-y: auto;

        & > div {
            overflow: auto;
        }

        &.item-icon {
            padding-left: 0px;
            padding-right: 0px;
            margin-left: 0px;
            margin-right: 0px;
        }

        img {
            max-width: 42px;
            border: none;
        }
	} 

    .gu-mirror .item-icon img {
        width: 42px !important;
    }

    table.cypher-header-table, table.artifact-header-table, table.oddity-header-table {
        background-color: transparent;
        border:none;
        padding-bottom:0px;
        margin-bottom:0px;
        width: 100%;

        td {
            width: 0%;
            padding: 0px;
            margin: 0px;
            padding-left: 4px;
            padding-right: 4px;
            font-weight:normal;
            font-size:1em;
            text-align: center;
            vertical-align: center;
        }

        td h4 {
            font-weight: bold;
            font-size: 1.3em !important;
        }

        td.ability-icon {
            padding-left:8px;
            padding-right:8px;
        }

        td.cypher-name, td.artifact-name {
            width: 15%;
            text-align: center;
        }

        td.oddity-name {
            width: 25%;
            text-align: center;
        }

        td.cypher-level, td.artifact-level {
            width: 25%;
            text-align: center;
        }

        td.cypher-description, td.artifact-description {
            width: 60%;
            text-align: left;
        }

        td.oddity-description {
            width: 75%;
            text-align: left;
        }
    }
}

/// ----------
/// DIALOGS (recovery, effort)
/// ----------

form.numenera-dialog {
    font-family: $font-stack;
    color: $font-color;
    border-radius: 10px;
    background-image: url("images/jpg/testbg.jpg");
    background: $bggrad;

    padding: 0.25em;

    li {
        list-style-type: none;
    }

    h1 {
        padding-bottom: 0.25em;
        margin-bottom: 0;

        button {
            font-weight: bold;
            font-size: 18px;
            float: right;
            width: 8em;
        }
    }

    h2 {
        font-weight: bold;
        margin-top: 0.5em;
        border: 0;
    }

    .warning {
        color: red;
        align-self: center;
        margin-bottom: 0.75em;
    }

    & > div.columns {
        & > div {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: left;

            &:first-child {
                border-right: 2px solid rgba(0,0,0,0);
            }

            &.disabled {
                color: lightslategray;
            }

            button {
                margin-top: 1em;
                justify-self: flex-end;
                width: 60%;
                border: none;
                font-family: $font-stack;
            }

            button:hover {
                background-color: #1d757d;
                border: none;
                color: white;
            }

            &.recoveries {
                p {
                    font-size: 16px;
                    font-weight: bold;
                }
            }

            input[type="number"].tempBonus {
                width: 3em;
            }

            &.pools {
                input[type="number"].pool {
                    width: 3em;
                }

                label {
                    font-size: 16px;
                    font-weight: bold;
                    text-transform: capitalize;
                    margin-right: 0.5em;
                }

                div.stats {
                    display: block;
                    border-color: $input-border-color;
                }
            }
        }
    }

    /// ----------
    /// EFFORT DIALOG
    /// ----------

    &.effort {
        div.line > div {
            padding: 0.3em 0 0.3em 0;
            margin-left: 0.4em;
        }

        h1.final {
            border-bottom: 0;
            border-top: 2px solid #782e22;
            margin-bottom: 0.4em;
        }

        h2 {
            display: inline;
        }

        input[type=number] {
            width: 3em;
            font-size: 16px;
        }

        .pools {
            margin-bottom: 1em;
            font-weight: bold;
            font-size: 16px;
            vertical-align: center;
            align-items: center;
        }

        button {
            margin-top: 0.5em;
        }
    }
}

/// ----------
/// CHAT
/// ----------

div.numenera.chat {
    font-size: 13px;

    span.name {
        font-size: 16px;
        font-weight: bold;
    }
    
    p {
        font-size: 14px;
    }

    img {
        width: 24px;
        height: 24px;
    }
}

/// ----------
/// DIALOG BUTTONS
/// ----------

form.numenera button.animated,
form.numenera-dialog button.animated {
    transition-duration: 0.3s;
    background-color: rgba(0, 0, 0, 0.15);
    border: $input-border-color;
    font-family: $font-stack;
    font-weight: bold;

    &:hover:enabled {
        background-color: $font-edit-color;
        box-shadow: $glow;
        border: none;
        color: white;
    }
}

//Some exceptions
form.numenera button.animated {
    width: 75%;
    padding-bottom: 10px;

    h2 {
        margin: 0;
    }
}

/// ----------
/// HUD STUFF
/// ----------

//TODO make these classes, they shouldn't be id's since they're probably not unique!
#token-hud {
    #innerTokenHud {
       height: 100%;
    }

    #cypherTokenStats {
        margin: 0px;
        padding: 0px;
        position: absolute;
        width: 300%;
        top: -85px;
        left: -100%;

        div {
            display: inline-block;
        }

        .attribute {
            padding: 0px;
            margin: 0px;
            width: 30%;
        }
        .attribute.bar1 input {
            border: 2px solid #ff443d !important;
        }
        .attribute.bar2 input {
            border: 2px solid #87ff3d !important;
        }
        .attribute.bar3 input {
            border: 2px solid #3ddbff !important;
        }
    }
}

#apologyBox {
    display: block;
    padding: 4px 12px 4px 12px;
    margin: 8px;
    border: 1px solid #737373;
}