$border-color: #782e22;

/* flexrow and flexcol (ahem) "borrowed" from the D&D 5e LESS files, many thanks to atropos */
.flewrow {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.flewcol {
    display: flex;
    flex-flow: column nowrap;
}

li {
    list-style-type: none;
}

h1 > input[type="text"] {
    height: auto;
    margin-bottom: 0.25em;
}

h2 {
    border: none;
    padding-top: 0.5em;

    &:not(.stat) {
        margin-left: 1em;
    }
}

p.description {
    font-style: italic;
}

label {
    margin: 0 0.5em 0 0.5em;
}

table {
    margin: 0 0.5em 0 0.5em;
}

form {
    overflow: scroll;

    &.pc {
        input[data-dtype="Number"] {
            width: 2em;
        }
    }

    div.header {
        border-bottom: 0;

        div.picture {
            padding-bottom: 1em;
            padding-right: 1em;
            margin-right: 1em;
            flex: 0.4;

            img.profile-img {
                width: 100%;
                height: 100%;
                max-width: 200px;
                max-height: 400px;
                margin-bottom: 1em;
            }
        }

        div > div.npc-info {
            flex: 0.25;
        }

        div > div.npc-stats {
            flex: 0.5;
        }

        h1.character {
            font-size: 24px;
            border-bottom: 1px solid $border-color;
            margin-bottom: 0;

            input {
                margin: 0 0.5em 0.5em 0.5em;
                height: auto;

                &.charname {
                    font-weight: bold;
                    width: 20ch;
                }
    
                &.descriptor {
                    width: 15ch;
                }
        
                &.focus {
                    width: 30ch;
                }
            }

            select.characterType {
                font-size: 24px;
                height: auto;
                margin: 0 0.5em 0.5em 0.5em;
            }
        }
    }

    div {
        //Ca sert dans la feuille de PC...
        &:not(.item) div:not(:first-of-type) {
            border-left: 1px solid $border-color;
        }

        &.pc-info {
            border: 0;
        }

        &.numenera {
            h2 {
                flex: 0;
            }

            h3 {
                flex: 0;
            }

            textarea {
                overflow: scroll;
            }
        }

        div.advances, div.recovery {
            input[type="checkbox"] {
                display: inline-block;
            }

            ul {
                column-count: 2;
            }
        }

        div.stats {
            padding-top: 1em;
            text-align: center;
            padding-bottom: 1em;

            h2 {
                text-transform: capitalize;
                padding-top: 0;

                button.roll {
                    margin-left: 1em;
                    background-image: url("/icons/svg/d20-grey.svg"); //!important
                }
            }
        }

        table.skills {
            background-color: transparent;

            td {
                padding: 5px;
                margin: 5px 0;
                font-weight: bold;
                font-size: 16px;
                text-align: center;
                vertical-align: center;
            }

            tbody td input[type="text"] {
                text-align: left;
                width: 100%;
            }
        }
    }

    div.flexrow:not(:last-child) {
        border-bottom: 2px solid $border-color;
    }

    div.item {
        height: 80%;

        input[type="number"] {
            width: 4em;
        }

        div {
            display: inline-block;
            display: flex;
            flex-direction: column;;

            textarea {
                flex: 1;
            }

            &.img {
                flex: 0.5;
                margin-right: 0.5em;
            }

            &.description {
                height: 95%;
                vertical-align: top;
            }

            // &.armor {
            //     vertical-align: top;
            //     height: 100%;

            //     textarea {
            //         height: 60%; //TODO fix this, this is a hack
            //     }
            // }

            // &.armor,&.artifact,&.equipment,&.cypher,&.weapon {

            // }
        }

        textarea {
            width: auto;
            height: 100%; 
            box-sizing: border-box;
            margin: 0 0.5em 0 0.5em;
        }

        label {
            clear: both;
            display: block;
            margin: 0.25em 0.5em 0 0.5em;
        }
    }
}