<form class="{{cssClass}} numenera" autocomplete="off">
    <h1><input type="text" name="name" value="{{item.name}}"  placeholder="Item Name" /></h1>
    <div class="flexrow item">
        <div class="img">
            <img class="profile-img" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
        </div>

        <div class="weapon">
            <label>Weight
                <select name="data.weight">
                {{#select data.weight}}
                {{#each weights}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
                {{/select}}
                </select>
            </label>

            <label>Type
                <select name="data.weaponType">
                {{#select data.weaponType}}
                {{#each weaponTypes}}
                    <option value="{{this}}">
                        {{this}}
                    </option>
                {{/each}}
                {{/select}}
                </select>
            </label>

            <label>Damage
                <input type="number" name="data.damage" value="{{data.damage}}" />
            </label>

            <label>Range
                <select name="data.range">
                {{#select data.range}}
                    {{#each ranges}}
                        <option value="{{this}}">
                            {{this}}
                        </option>
                    {{/each}}
                {{/select}}
                </select>
            </label>

            <label>Price
                <input type="number" name="data.price" value="{{data.price}}" data-dtype="Number" />
            </label>

            <label>Notes</label>
            <textarea name="data.notes">{{data.notes}}</textarea>
        </div>
    </div>
</form>