<form class="{{cssClass}} numenera-effort" autocomplete="off">
    <div class="flexcol">
        <div>
            Rolling for
            <select name="stat" data-dtype="String">
                {{#select stat}}
                <option value="">Select a stat</option>
                {{#each stats}}
                <option value="{{this}}">{{localize this}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        <!-- <div>
            Skill&nbsp;
            <select name="data.skills" data-dtype="String">
                {{#select skill}}
                {{#each skills}}
                <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div> -->
        <div>
            Effort Level <input type="number" name="currentEffort" data-dtype="Number" value="{{currentEffort}}" min="0" max="{{maxEffortLevel}}" step="1" />
            <br/>
            Max Effort Level {{ maxEffortLevel }}
            <div>
                <h4>Pool</h4>
                <div class="flexrow">
                    <div>
                        Current {{current}}
                    </div>
                    <div>
                        Cost {{cost}}
                    </div>
                    <div>
                        Remaining {{remaining}}
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button id="roll-with-effort">
                Apply {{currentEffort}} Effort and roll
            </button>
        </div>
    </div>
</form>