<form class="{{cssClass}} numenera-dialog effort" autocomplete="off">
    <div class="flexcol line">
        <div>
            <h1>
                {{localize "NUMENERA.effort.initialTaskLevel"}} <input type="number" name="taskLevel" data-dtype="Number" value="{{taskLevel}}" min="0" data-dtype="Number" />
            </h1>
        </div>
        <div>
            <h2>{{localize "NUMENERA.rolling"}}
                <select name="stat" data-dtype="String">
                    {{#select stat}}
                    <option value="">{{localize "NUMENERA.effort.selectAStat"}}</option>
                    {{#each stats}}
                    <option value="{{this}}">{{localize this}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </h2>
        </div>
        <div>
            <h2>{{localize "NUMENERA.skill"}}
                <select name="skill" data-dtype="String">
                    {{#select skill.id}}
                    <option value=""></option>
                    {{#each skills}}
                    <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </h2>
        </div>
        {{#if powerShifts}}
        <div>
            <h2>{{localize "NUMENERA.powerShift"}}
                <select name="powerShift">
                {{#select powerShift.id}}
                    <option value=""></option>
                    {{#each powerShifts}}
                    <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                {{/select}}
                </select>
            </h2>
        </div>
        {{/if}}
        <div>
            <h2>{{localize "NUMENERA.effort.other"}} <input type="number" name="assets" value="{{assets}}" min="0" data-dtype="Number" /></h2>
        </div>
        {{#if damageTrackPenalty}}
        <div>
            <h2>{{localize "NUMENERA.effort.damageTrackPenalty"}} <input type="number" value="-1" disabled="disabled" /></h2>
        </div>
        {{/if}}
        <div>
            <h2>{{localize "NUMENERA.effort.effortLevels"}} <input type="number" name="currentEffort" data-dtype="Number" value="{{currentEffort}}" min="0" max="{{maxEffortLevel}}" step="1" /></h2>
            {{localize "NUMENERA.effort.max"}}: <input type="number" class="max-effort" value="{{ maxEffortLevel }}" disabled />
        </div>
        {{#if useArmorSpeedEffortRule}}
        <div>
            <h3>Armor Effort Increase Per Level: {{ armorSpeedEffortIncrease }}</h3>
        </div>
        {{/if}}
        <div class="pools">
            <h2>{{localize stat}} {{localize "NUMENERA.stats.pool"}}</h2>
            <div class="flexrow">
                <div>
                    {{localize "NUMENERA.stats.current"}} {{current}}
                </div>
                <div>
                    {{localize "NUMENERA.effort.cost"}} {{cost}}
                </div>
                <div>
                    {{localize "NUMENERA.effort.remaining"}} {{remaining}}
                </div>
            </div>
        </div>
        {{#if displayWarning}}
        <div class="warning">
            <i class="fas fa-exclamation-triangle"></i> {{warning}}
        </div>
        {{/if}}
    </div>
    <div>
        <h1 class="final">
            {{localize "NUMENERA.effort.finalTaskLevel"}} <input type="number" data-dtype="Number" value="{{finalLevel}}" readonly="readonly" />
        </h1>
    </div>
    <div>
        <h2>{{localize "NUMENERA.effort.rollType"}}</h2>
        <select name="rollMode">
        {{#select rollMode}}
        {{#each rollModes}}
            <option value="{{this.value}}">{{this.label}}</option>
        {{/each}}
        {{/select}}
        </select>
    </div>
    <div>
        {{#if automaticFailure}}
        <button id="failure-close" class="animated"
            {{#if displayWarning}}disabled="disabled"{{/if}}
        >
            {{failureText}}
        </button>
        {{else if automaticSuccess}}
        <button id="succeed-automatically" class="animated"
            {{#if displayWarning}}disabled="disabled"{{/if}}
        >
            {{automaticSuccessText}}
        </button>
        {{/if}}
        <button id="roll-with-effort" class="animated"
            {{#if displayWarning}}disabled="disabled"{{/if}}
        >
            {{rollButtonText}}
        </button>
    </div>
</form>