<form class="{{cssClass}} numenera-recovery" autocomplete="off">
    <h1>Recovery <button id="reset-recoveries" {{disabled disallowReset}}>Reset</button></h1>
    <div class="flexrow columns">
        <div class="recoveries{{#unless hasRecoveriesLeft}} disabled{{/unless}}">
            <h2>Recoveries</h2>
            <ul>
            {{#each recoveriesData as |recovery id|}}
            <li>
                <input type="checkbox" name="recovery[{{recovery.key}}]" data-recovery-id="{{id}}" 
                    {{checked recovery.checked}} {{disabled recovery.disabled}} 
                />
                <label>{{recovery.label}}</label>
            </li>
            {{/each}}
            </ul>
            {{#if showFormula}}
            <p>Rolling {{formula}}</p>
            {{else}}
            <p>No dice to roll</p>
            {{/if}}
            
        </div>
        <div class="pools{{#unless hasUnspentRecoveryPoints}} disabled{{/unless}}">
            <h2>Pools</h2>
            <h3>Points Remaining: {{unspentRecoveryPoints}}</h3>
            {{#each pools as |pool|}}
            <div class="stats">
                <label class="stat">{{pool.name}}</label>
                <input name="pools.{{pool.name}}.value" type="number" value="{{pool.value}}" min="{{pool.min}}" max="{{pool.max}}" class="pool" data-dtype="Number" />
            </div>
            {{/each}}
            
        </div>
    </div>
    <div class="flexrow columns">
        <div>
            <button id="roll-recovery-dice">Roll</button>
        </div>
        <div>
            <button id="apply-recovery-choices">Accept</button>
        </div>
    </div>
</form>
