<table class="abilities">
    <thead>
        <tr>
            <td>
                <!-- Extra empty table data for handle to properly center if we're showing icons-->
            </td>
        {{#if settings.icons.abilities}}
            <td class="ability-icon"></td>
        {{/if}}
            <td class="ability-name">{{localize "NUMENERA.item.ability.tab.name"}}</td>
            <td class="ability-cost">{{localize "NUMENERA.item.ability.tab.cost"}}</td>
            <td class="ability-range">{{localize "NUMENERA.item.ability.tab.range"}}</td>
            <td class="ability-description">{{localize "NUMENERA.item.ability.tab.description"}}</td>
            <td><a class="ability-create" data-action="create" title="{{localize "NUMENERA.item.ability.tab.createTooltip"}}"><i class="fas fa-plus"></i></a></td>
        </tr>
    </thead>
    <tbody class="row-container">
    {{#each data.abilities as |ability| }}
        <tr class="ability item" data-item-id="{{ability.id}}" data-order="{{ability.data.data.order}}">
            <td class="handle">
                <a><i class="fas fa-grip-vertical"></i></a>
            </td>
        {{#if ../settings.icons.abilities}}
            <td class="item-icon">
            {{#if ability.showIcon}}
                <img src="{{ability.img}}" />
            {{/if}}
            </td>
        {{/if}}
            <td class="ability-name">
                <input type="text" name="data.abilities.{{ability.id}}.name" placeholder="Ability Name" value="{{ability.name}}" class="ability-name-input"/>
            </td>
            <td class="ability-cost">
                <select name="data.abilities.{{ability.id}}.data.abilityType" data-dtype="String">
                    {{#select ability.data.data.abilityType}}
                    {{#each ../abilityTypes}}
                    <option value="{{this}}">{{localize this}}</option>
                    {{/each}}
                    {{/select}}
                </select>
                <br/>

                <div {{#if ability.nocost}}class="nocost"{{/if}}>
                    <input type="number" name="data.abilities.{{ability.id}}.data.cost.amount" min="0" data-dtype="Number" value="{{ability.data.data.cost.amount}}" />
                    <select name="data.abilities.{{ability.id}}.data.cost.pool">
                        {{#select ability.data.data.cost.pool}}
                        {{#each stats}}
                        <option value="{{this}}">{{localize this}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </td>
            <td class="ability-range">
                <select name="data.abilities.{{ability.id}}.data.range">
                {{#select ability.data.data.range}}
                {{#each ability.ranges}}
                    <option value="{{this}}">{{localize this}}</option>
                {{/each}}
                {{/select}}
                </select>
            </td>
            <td class="ability-description">
                <textarea name="data.abilities.{{ability.id}}.data.notes" title="{{ability.data.data.notes}}">{{ability.data.data.notes}}</textarea>
            </td>
            <td>
                <a class="rollable"><img src="/icons/svg/d20-black.svg" class="d20" title="{{localize "NUMENERA.item.tab.rollTooltip"}}" alt="d20" /></a>
                <a class="context-menu" title="{{localize "NUMENERA.item.ability.tab.showInfoTooltip"}}"><i class="fas fa-cogs"></i></a>
            </td>
        </tr>
    {{else}}
        <tr>
            <td colspan="100%">
                {{{localize "NUMENERA.item.ability.tab.instructions"}}}
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>