<h2>{{localize "NUMENERA.pc.numenera.artifact.name"}}</h2>

<ul class="artifacts">
{{#each data.items.artifacts as |artifact|}}
<li class="artifact" data-item-id={{artifact._id}} data-order={{artifact.data.order}}>
    <table class="artifact-header-table">
        <tbody>
            <td>
                <h4>
                    <a><i class="fas fa-grip-vertical"></i></a>
                </h4>
            </td>
            {{#if artifact.showIcon}}
            <td class="ability-icon">
                <img src="{{artifact.img}}" />
            </td>
            {{/if}}
            <td class="artifact-name">
                <h4><strong>{{artifact.name}}</strong></h4>
            </td>
            <td class="artifact-level">
            {{#if artifact.editable}}
                <label>{{localize "NUMENERA.pc.numenera.artifact.identified"}}
                    <input type="checkbox" name="data.items.artifacts.{{artifact._id}}.data.identified"
                        data-dtype="Boolean" {{checked artifact.data.identified}}/>
                </label>
                <br />
                <label>{{localize "NUMENERA.pc.numenera.artifact.level"}}
                    <input type="number" name="data.items.artifacts.{{artifact._id}}.data.level"
                        min="1" value="{{artifact.data.level}}" data-dtype="Number" />
                </label>
            {{else}}
                <span>Level</span> {{artifact.data.level}}
            {{/if}}
            </td>


            <td class="artifact-description">
            {{#if artifact.editable}}
              {{#if ../isTheStrange}}
                <label>
                  Laws
                  <input type="text" name="data.items.artifacts.{{artifact._id}}.data.laws" value="{{artifact.data.laws}}" />
                </label>
              {{/if}}
                <label>
                    Form
                    <input type="text" name="data.items.artifacts.{{artifact._id}}.data.form" value="{{artifact.data.form}}" />
                </label>
                <label>
                    Effect
                    <textarea name="data.items.artifacts.{{artifact._id}}.data.effect">{{artifact.data.effect}}</textarea>
                </label>
            {{else}}
              {{#if ../isTheStrange}}
                <span><strong>{{localize "NUMENERA.pc.numenera.artifact.laws"}}:</strong></span> {{artifact.data.laws}}
              {{/if}}
                <p>
                    <span><strong>{{localize "NUMENERA.pc.numenera.artifact.form"}}:</strong></span> {{artifact.data.form}}
                </p>
                <p>
                    <span><strong>{{localize "NUMENERA.pc.numenera.artifact.effect"}}:</strong></span> {{artifact.data.effect}}
                </p>
            {{/if}}
            {{#if artifact.data.depletion.isDepleting}}
                <p>
                    <span><strong>{{localize "NUMENERA.pc.numenera.artifact.depletion"}}: </strong></span> {{artifact.data.depletion.threshold}} {{localize "NUMENERA.pc.numenera.artifact.in"}}
                    {{artifact.data.depletion.die}}
                    <button class="artifact-depletion-roll">{{localize "NUMENERA.pc.numenera.artifact.roll"}}</button>
                </p>
            {{/if}}
            </td>
            <td>
                <a class="artifact-delete" data-action="delete" title="{{localize "NUMENERA.pc.numenera.deleteTooltip"}}"><i class="fas fa-trash"></i></a>
            </td>
        </tbody>
    </table>
</li>
{{else}}
{{localize "NUMENERA.pc.numenera.artifact.none"}}
{{/each}}
</ul>
