<h1 class="character">
    <input type="text" name="name" value="{{actor.name}}" class="charname" placeholder="{{localize "NUMENERA.pcActorSheet.header.name"}}" />
    {{localize "NUMENERA.pcActorSheet.header.isA"}}
    <input type="text" name="data.descriptor" value="{{data.descriptor}}" class="descriptor" placeholder="{{localize "NUMENERA.pcActorSheet.header.descriptor"}}" />
    <input type="text" name="data.characterType" value="{{data.characterType}}" class="characterType" placeholder="{{localize "NUMENERA.pcActorSheet.header.type"}}" data-type="String">
    {{localize "NUMENERA.pcActorSheet.header.who"}} <input type="text" name="data.currentFocus" value="{{data.currentFocus}}" class="focus" placeholder="{{localize "NUMENERA.pcActorSheet.header.focus"}}" />
</h1>