<form class="{{cssClass}} numenera pc" autocomplete="off">
    <h1 class="character">
        <input type="text" name="name" value="{{actor.name}}" class="charname" placeholder="{{localize "NUMENERA.pcActorSheet.header.name"}}" />
        {{localize "NUMENERA.pcActorSheet.header.isA"}}
        <input type="text" name="data.descriptor" value="{{data.descriptor}}" class="descriptor" placeholder="{{localize "NUMENERA.pcActorSheet.header.descriptor"}}" />
        <input type="text" name="data.characterType" value="{{data.characterType}}" class="characterType" placeholder="{{localize "NUMENERA.pcActorSheet.header.type"}}" data-type="String">
        {{localize "NUMENERA.pcActorSheet.header.who"}} <input type="text" name="data.currentFocus" value="{{data.currentFocus}}" class="focus" placeholder="{{localize "NUMENERA.pcActorSheet.header.focus"}}" />
    </h1>
    <h1 class="texp">
        {{localize "NUMENERA.pc.tier"}}: <input type="text" name="data.tier" value="{{data.tier}}" min="1" max="6" data-dtype="Number" class="tier" />
         / {{localize "NUMENERA.pc.effort"}}: <input type="text" name="data.effort" value="{{data.effort}}" min="1" data-dtype="Number" class="tier" />
         / {{localize "NUMENERA.pc.recovery.name"}}: <input type="text" name="data.recovery" value="{{data.recovery}}" min="1" data-dtype="Number" class="tier" />
         / {{localize "NUMENERA.pcActorSheet.advancement.xp"}}: <input type="text" name="data.xp" value="{{data.xp}}" min="0" data-dtype="Number" class="tier" />
    </h1>
    <div class="flexcol">
        <div class="flexrow header">
            <div class="picture">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}">
            </div>
            <div class="contents flexcol">
                <div class="flexrow">
                    {{#each data.stats as |stat id|}}
                    <div class="stats" data-stat="{{id}}">
                        <div class="statroll flexcol">
                            <a class="rollable" data-stat="{{lookup ../stats id}}"><img src="/icons/svg/d20-black.svg" class="d20" title="{{localize "NUMENERA.item.tab.rollTooltip"}}" alt="d20" ></a>
                            <h2 class="stat">{{lookup ../stats id}}</h2>
                        </div>
                    </div>
                    <div class="stats" data-stat="{{id}}">
                        <div class="statedit flexcol">
                            <h3>{{localize "NUMENERA.stats.edge"}} <input name="data.stats.{{id}}.edge" type="text" value="{{stat.edge}}" class="stats" data-dtype="Number" placeholder="0" /></h3>
                            <h3><input name="data.stats.{{id}}.pool.value" type="text" value="{{stat.pool.value}}" class="stats" data-dtype="Number" placeholder="0" />
                                 / <input name="data.stats.{{id}}.pool.max" type="text" value="{{stat.pool.max}}" class="stats" data-dtype="Number" placeholder="0"></h3>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <div class="flexrow">
                    <div class="stats">
                        <h2 class="damagetrack">
                            {{localize "NUMENERA.pc.armor.label"}}&nbsp;<input type="text" value="{{data.armor}}" class="armor" min="0" data-dtype="Number" disabled="disabled" />
                        </h2>
                        {{#if displayMightCostPerHour}}
                        <h3>
                            Might Cost per Hour: {{armorMightCostPerHour}}
                        </h3>
                        {{else if displaySpeedPoolReduction}}
                        <h3>
                            Speed Pool Reduction: {{armorSpeedPoolReduction}}
                        </h3>
                        {{else if displaySpeedEffortPenalty}}
                        <h3>
                            {{localize "NUMENERA.pc.armorpenalty.label"}}&nbsp;<input type="text" value="{{speedEffortPenalty}}" class="armorPenalty" min="0" data-dtype="Number" placeholder="0" 
                            {{#if saveSpeedEffortPenalty}} name="data.armorPenalty" {{/if}}
                            />
                        </h3>
                        {{/if}}
                        <h2 class="damagetrack">{{localize "NUMENERA.pc.damageTrack.name"}}</h2>
                        <p>
                            <select name="data.damageTrack" title="{{localize damageTrackDescription}}" data-dtype="Number">
                            {{#select data.damageTrack}}
                            {{#each damageTrackData as |track id|}}
                                <option value="{{id}}" data-dtype="Number">{{localize this.label}}</option>
                            {{/each}}
                            {{/select}}
                            </select>
                        </p>
                    </div>
                    <div class="stats recovery">
                        <button id="recoveryRoll" class="animated">
                            <h2>{{localize "NUMENERA.pc.recovery.name"}}</h2>
                        </button>
                        <ul>
                        {{#each recoveriesData as |recovery|}}
                            <li>
                                <input type="checkbox" {{checked recovery.checked}} disabled/>
                                <label>{{localize recovery.label}}</label>
                            </li>
                        {{/each}}
                        </ul>
                    </div>
                    <div class="stats advances">
                        <h2>{{localize "NUMENERA.pcActorSheet.advancement.title"}}</h2>
                        <ul>
                            {{#each advances as |advance|}}
                            <li>
                                <input type="checkbox" name="data.advances.{{advance.name}}" id="data.advances.{{advance.name}}" data-dtype="Boolean" {{checked advance.isChecked}}/>
                                <label for="data.advances.{{advance.name}}">{{localize advance.label}}</label>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="skills">{{localize "NUMENERA.pcActorSheet.tab.skills"}}</a>
        <a class="item" data-tab="abilities">{{localize "NUMENERA.pcActorSheet.tab.abilities"}}</a>
        {{#if isTheStrange}}
        <a class="item" data-tab="numenera">{{localize "NUMENERA.pcActorSheet.tab.strange"}}</a>
        {{else}}
        <a class="item" data-tab="numenera">{{localize "NUMENERA.pcActorSheet.tab.cyphers"}}</a>
        {{/if}}
        <a class="item" data-tab="equipment">{{localize "NUMENERA.pcActorSheet.tab.equipment"}}</a>
        {{#if showFeaturesTab}}
        <a class="item" data-tab="features">{{localize featuresTabName}}</a>
        {{/if}}
        <a class="item" data-tab="bio">{{localize "NUMENERA.pcActorSheet.tab.bio"}}</a>
    </nav>

    <section id="pc-sheet-body">
        <div class="tab skills" data-group="primary" data-tab="skills">
            <table class="skills">
                <thead>
                    <tr>
                        <td class="">
                            <!-- Extra empty table data for handle to properly center if we're showing icons-->
                        </td>
                    {{#if settings.icons.skills}}
                        <td class="skill-icon"></td>
                    {{/if}}
                        <td class="skill-name">{{localize "NUMENERA.item.skill.tab.name"}}</td>
                        <td class="skill-stat">{{localize "NUMENERA.item.skill.tab.stat"}}</td>
                        <td class="skill-inability">{{localize "NUMENERA.skillLevels.Inability"}}</td>
                        <td class="skill-untrained">{{localize "NUMENERA.skillLevels.Untrained"}}</td>
                        <td class="skill-trained">{{localize "NUMENERA.skillLevels.Trained"}}</td>
                        <td class="skill-specialized">{{localize "NUMENERA.skillLevels.Specialized"}}</td>
                        <td><a class="skill-create" data-action="create" title="{{localize "NUMENERA.item.skill.tab.createTooltip"}}"><i class="fas fa-plus"></i></a></td>
                    </tr>
                </thead>
                <tbody class="row-container">
                {{#each data.skills as |skill| }}
                    <tr class="skill item" data-item-id="{{skill.id}}" data-order="{{skill.data.data.order}}">
                        <td class="handle">
                            <a><i class="fas fa-grip-vertical"></i></a>
                        </td>
                    {{#if ../settings.icons.skills}}
                        <td class="item-icon">
                        {{#if skill.showIcon}}
                            <img src="{{skill.img}}" />
                        {{/if}}
                        </td>
                    {{/if}}
                        <td class="skill-name">
                            <input type="text" name="data.skills.{{skill.id}}.name" placeholder="Skill Name" value="{{skill.name}}" class="skill-name-input"/>
                        </td>
                        <td class="skill-stat">
                            <select name="data.skills.{{skill.id}}.data.stat">
                            {{#select skill.data.data.stat}}
                            {{#each stats}}
                                <option value="{{this}}">{{localize this}}</option>
                            {{/each}}
                            {{/select}}
                            </select>
                        </td>
                        <td class="skill-inability">
                            <input type="checkbox" name="data.skills.{{skill.id}}.data.inability" {{checked skill.data.data.inability}} data-dtype="Boolean" />
                        </td>
                        <td class="skill-untrained">
                            <input class="skill-untrained" type="radio" value="0" name="data.skills.{{skill.id}}.data.skillLevel" {{checked skill.untrained}} data-dtype="Number" />
                        </td>
                        <td class="skill-trained">
                            <input class="skill-trained" type="radio" value="1" name="data.skills.{{skill.id}}.data.skillLevel" {{checked skill.trained}} data-dtype="Number" />
                        </td>
                        <td class="skill-specialized">
                            <input class="skill-specialized" type="radio" value="2" name="data.skills.{{skill.id}}.data.skillLevel" {{checked skill.specialized}} data-dtype="Number" />
                        </td>
                        <td>
                            <a class="rollable"><img src="/icons/svg/d20-black.svg" class="d20" title="{{localize "NUMENERA.item.tab.rollTooltip"}}" alt="d20" /></a>
                            <a class="skill-to-chat" data-action="to-chat" title="{{localize "NUMENERA.chat.sendToChat"}}">
                                <i class="fas fa-comment"></i>
                            </a>
                            <a class="skill-delete" data-action="delete" title="{{localize "NUMENERA.item.skill.tab.deleteTooltip"}}">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {{else}}
                    <tr>
                        <td colspan="100%">
                            {{{localize "NUMENERA.item.skill.tab.instructions"}}}
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>

        <div class="tab abilities" data-group="primary" data-tab="abilities">
            {{> "systems/numenera/templates/actor/partials/abilities.html" data=data}}
        </div>

        <div class="tab numenera" data-group="primary" data-tab="numenera">
            {{> "systems/numenera/templates/actor/partials/cyphers.html" data=data}}
            <hr class="sheet-one" />
            {{> "systems/numenera/templates/actor/partials/artifacts.html" data=data}}
            {{#if useOddities}}
            <hr class="sheet-one" />
            {{> "systems/numenera/templates/actor/partials/oddities.html" data=data}}
            {{/if}}
        </div>

        <div class="tab equipment" data-group="primary" data-tab="equipment">
            {{> "systems/numenera/templates/actor/partials/weapons.html" data=data}}

            <h2>{{localize "NUMENERA.pc.armor.sectionName"}}</h2>
            <table class="armor">
                <thead>
                    <td>
                        <!-- Extra empty table data for handle to properly center if we're showing icons-->
                    </td>
                    {{#if settings.icons.equipment}}
                    <td>
                        <!-- Extra empty table data for icon-->
                    </td>
                    {{/if}}
                    <td>{{localize "NUMENERA.pc.armor.name"}}</td>
                    <td>{{localize "NUMENERA.pc.armor.armor"}}</td>
                    <td>{{localize "NUMENERA.pc.armor.type"}}</td>
                    <td>{{localize "NUMENERA.pc.armor.effortCost"}}</td>
                    <td>{{localize "NUMENERA.pc.armor.notes"}}</td>
                    <td><a class="armor-create" title="{{localize "NUMENERA.pc.armor.createTooltip"}}"><i class="fas fa-plus"></i></a></td>
                </thead>
                <tbody class="row-container">
                {{#each data.armorPieces as |armor|}}
                    <tr class="armor item" data-item-id="{{armor.id}}" data-order="{{armor.data.data.order}}">
                        <td class="handle">
                            <a><i class="fas fa-grip-vertical"></i></a>
                        </td>
                        {{#if ../settings.icons.equipment}}
                        <td class="item-icon">
                            {{#if armor.showIcon}}
                            <img src="{{armor.img}}" />
                            {{/if}}
                        </td>
                        {{/if}}
                        <td class="armor-name">
                            <input type="text" name="data.armor.{{armor.id}}.name" placeholder="Armor Name" class="armor-name-input" value="{{armor.name}}"/>
                        </td>
                        <td class="armor-value">
                            <input type="number" name="data.armor.{{armor.id}}.data.armor" value="{{armor.data.data.armor}}" min="0" class="armor-value" data-dtype="Number" />
                        </td>
                        <td class="armor-weight-type">
                            <select name="data.armor.{{armor.id}}.data.weight" class="armor-weight">
                            {{#select armor.data.data.weight}}
                            {{#each ../optionalWeights}}
                                <option value="{{this}}">{{localize this}}</option>
                            {{/each}}
                            {{/select}}
                            </select>
                        </td>
                        <td>
                            <input type="number" name="data.armor.{{armor.id}}.data.additionalSpeedEffortCost" value="{{armor.data.data.additionalSpeedEffortCost}}" min="0" class="armor-effort-cost" data-dtype="Number" />
                        </td>
                        <td class="armor-notes">
                            <input type="text" name="data.armor.{{armor.id}}.data.notes" value="{{armor.data.data.notes}}" title="{{armor.data.data.notes}}" />
                        </td>
                        <td>
                            <a class="armor-to-chat" data-action="to-chat" title="{{localize "NUMENERA.chat.sendToChat"}}">
                                <i class="fas fa-comment"></i>
                            </a>
                            <a class="armor-delete" data-action="delete" title="{{localize "NUMENERA.pc.armor.deleteTooltip"}}">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {{else}}
                <tr>
                    <td colspan="100%">
                        {{{localize "NUMENERA.pc.armor.none"}}}
                    </td>
                </tr>
                {{/each}}
                </tbody>
            </table>

            <h2>{{localize "NUMENERA.pc.otherItems.sectionName"}}</h2>
            <h3 class="shins"><i class="fas fa-coins"></i> {{settings.currency}} <input type="number" name="data.shins" value="{{data.shins}}" class="shins" data-dtype="Number" /></h3>
            <table class="equipment">
                <thead>
                    <td>
                        <!-- Extra empty table data for handle to properly center if we're showing icons-->
                    </td>
                    {{#if settings.icons.equipment}}
                    <td>
                        <!-- Extra empty table data for icon-->
                    </td>
                    {{/if}}
                    <td>{{localize "NUMENERA.pc.otherItems.name"}}</td>
                    <td>{{localize "NUMENERA.pc.otherItems.quantity"}}</td>
                    <td>{{localize "NUMENERA.pc.otherItems.description"}}</td>
                    <td><a class="equipment-create" title="{{localize "NUMENERA.pc.otherItems.createTooltip"}}"><i class="fas fa-plus"></i></a></td>
                </thead>
                <tbody class="row-container">
                {{#each data.equipment as |equipment|}}
                    <tr class="equipment item" data-item-id="{{equipment.id}}" data-order="{{equipment.data.data.order}}">
                        <td class="handle">
                            <a><i class="fas fa-grip-vertical"></i></a>
                        </td>
                    {{#if ../settings.icons.equipment}}
                        <td class="item-icon">
                        {{#if equipment.showIcon}}
                            <img src="{{equipment.img}}" />
                        {{/if}}
                        </td>
                    {{/if}}
                        <td class="equipment-name">
                            <input type="text" name="data.equipment.{{equipment.id}}.name" placeholder="Item Name" class="equipment-name-input" value="{{equipment.name}}" />
                        </td>
                        <td class="equipment-quantity">
                            <input type="number" name="data.equipment.{{equipment.id}}.data.quantity" value="{{equipment.data.data.quantity}}" min="0" class="equipment-quantity" data-dtype="Number" />
                        </td>
                        <td class="equipment-notes">
                            <input type="text" name="data.equipment.{{equipment.id}}.data.notes" value="{{equipment.data.data.notes}}" title="{{equipment.data.data.notes}}" />
                        </td>
                        <td>
                            <a class="equipment-to-chat" data-action="to-chat" title="{{localize "NUMENERA.chat.sendToChat"}}">
                                <i class="fas fa-comment"></i>
                            </a>
                            <a class="equipment-delete" data-action="delete" title="{{localize "NUMENERA.pc.otherItems.deleteTooltip"}}">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {{else}}
                <tr>
                    <td colspan="100%">
                        {{{localize "NUMENERA.pc.otherItems.none"}}}
                    </td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>

        {{#if showFeaturesTab}}
        <div class="tab features" data-group="primary" data-tab="features">
            {{> "systems/numenera/templates/actor/partials/features.html" data=data}}
        </div>
        {{/if}}

        <div class="tab description" data-group="primary" data-tab="bio">
            {{editor content=data.background target="data.background" button=true editable=true}}
            <button type="submit" id="save-bio"><i class="fas fa-feather-alt"></i>{{localize "NUMENERA.pc.bio.saveChanges"}}</button>
        </div>
    </section>
</form>
