<form class="{{cssClass}} numenera community flexcol" autocomplete="off">
    <div class="flexrow header">
        <div class="picture">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        </div>
        <div class="flexcol">
            <div class="flexrow community-info">
                <h1 class="character">
                    <input type="text" name="name" value="{{actor.name}}" class="charname" />
                    <label for="data.level">{{localize "NUMENERA.community.rank"}}</label>
                    <input type="text" name="data.level" value="{{data.level}}" class="level" data-dtype="Number" />
                </h1>

            </div>
            <div class="flexrow community-stats">
                <label for="data.health.max">{{localize "NUMENERA.community.health"}}</label>
                <input type="text" name="data.health.max" value="{{data.health.max}}" data-dtype="Number" />
                <label for="data.health.max">{{localize "NUMENERA.community.infrastructure"}}</label>
                <input type="text" name="data.infrastructure.max" value="{{data.infrastructure.max}}" data-dtype="Number" />
                <label for="data.armor">{{localize "NUMENERA.community.armor"}}</label>
                <input type="text" name="data.armor" value="{{data.armor}}" min="0" data-dtype="Number" />
                <label for="data.damage">{{localize "NUMENERA.community.damage"}}</label>
                <input type="text" name="data.damage" value="{{data.damage}}" min="0" data-dtype="Number" />
            </div>
            <div class="community-modifications">
                <h2>{{localize "NUMENERA.community.modifications"}}</h2>
                <textarea name="data.modifications" data-dtype="String">{{data.modifications}}</textarea>
            </div>
        </div>
    </div>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="overview">{{localize "NUMENERA.communityActorSheet.tab.overview"}}</a>
        <a class="item" data-tab="government">{{localize "NUMENERA.communityActorSheet.tab.government"}}</a>
        <a class="item" data-tab="combat">{{localize "NUMENERA.communityActorSheet.tab.combat"}}</a>
        <a class="item" data-tab="info">{{localize "NUMENERA.communityActorSheet.tab.information"}}</a>
    </nav>

    <section id="community-sheet-body">
        <div class="tab community-overview" data-group="primary" data-tab="overview">
            {{editor content=data.overview target="data.overview" button=true editable=editable}}
            <button type="submit" id="save-community-overview"><i class="fas fa-feather-alt"></i>{{localize "NUMENERA.pc.bio.saveChanges"}}</button>
        </div>
        <div class="tab community-government" data-group="primary" data-tab="government">
            {{editor content=data.government target="data.government" button=true editable=editable}}
            <button type="submit" id="save-community-government"><i class="fas fa-feather-alt"></i>{{localize "NUMENERA.pc.bio.saveChanges"}}</button>
        </div>
        <div class="tab community-combat" data-group="primary" data-tab="combat">
            {{editor content=data.combat target="data.combat" button=true editable=editable}}
            <button type="submit" id="save-community-combat"><i class="fas fa-feather-alt"></i>{{localize "NUMENERA.pc.bio.saveChanges"}}</button>
        </div>
        <div class="tab community-info" data-group="primary" data-tab="info">
            {{editor content=data.information target="data.information" button=true editable=editable}}
            <button type="submit" id="save-community-info"><i class="fas fa-feather-alt"></i>{{localize "NUMENERA.pc.bio.saveChanges"}}</button>
        </div>
    </section>
</form>
