<form class="{{cssClass}} flexcol" autocomplete="off">
    <h1>
        <input type="text" name="actor.name" value="{{actor.name}}" placeholder="Character Name" />
        is a
        <input type="text" name="data.descriptor" value="{{data.descriptor}}" placeholder="Descriptor" />
        <input type="text" name="data.type" value="{{data.type}}" placeholder="Type" />
        who
        <input type="text" name="data.focus" value="{{data.focus}}" placeholder="Focus" />
    </h1>

    <h2>Characteristics</h2>

    <h3>Might</h3>

    <h4>Pool</h4>
    Current: <input name="data.stats.might.pool.current" type="text" value="{{data.stats.might.pool.current}}" placeholder="0" />
    /
    Maximum: <input name="data.stats.might.pool.maximum" type="text" value="{{data.stats.might.pool.maximum}}" placeholder="0" />

    <h4>Edge</h4>
    <input name="data.stats.might.edge" type="text" value="{{data.stats.might.edge}}" placeholder="0" />

    <h3>Speed</h3>

    <h4>Pool</h4>
    Current: <input name="data.stats.speed.pool.current" type="text" value="{{data.stats.speed.pool.current}}" placeholder="0" />
    /
    Maximum: <input name="data.stats.speed.pool.maximum" type="text" value="{{data.stats.speed.pool.maximum}}" placeholder="0" />

    <h4>Edge</h4>
    <input name="data.stats.speed.edge" type="text" value="{{data.stats.speed.edge}}" placeholder="0" />

    <h3>Intellect</h3>

    <h4>Pool</h4>
    Current: <input name="data.stats.intellect.pool.current" type="text" value="{{data.stats.intellect.pool.current}}" placeholder="0" />
    /
    Maximum: <input name="data.stats.intellect.pool.maximum" type="text" value="{{data.stats.intellect.pool.maximum}}" placeholder="0" />

    <h4>Edge</h4>
    <input name="data.stats.intellect.edge" type="text" value="{{data.stats.intellect.edge}}" placeholder="0" />
</form>
