<div class="numenera chat">
    <a class="sheet" data-id={{id}} data-actor-id={{actorId}}>
        <span class="name">
            <img src={{img}} />
            {{capitalize type}}: {{name}}
        </span>
    </a><br/>
    <span class="form">{{localize "NUMENERA.pc.numenera.artifact.form"}}: {{form}}</span><br/>
    {{#if laws}}
    <span class="laws">{{localize "NUMENERA.pc.numenera.artifact.laws"}}: {{laws}}</span><br/>
    {{/if}}
    <span class="level">{{localize "NUMENERA.pc.numenera.artifact.level"}}: {{level}}</span><br/>
    {{#if depletion}}
    <span class="depletion">
        {{localize "NUMENERA.pc.numenera.artifact.depletion"}}: {{#if depletion.isDepleting}}{{depletion.threshold}} {{localize "NUMENERA.pc.numenera.artifact.in":}} {{depletion.die}}{{else}}--{{/if}}
    </span>
    {{else}}
    <span class="depletion">{{localize "NUMENERA.pc.numenera.artifact.depletion"}}: {{localize "NUMENERA.unknown"}}</span>
    {{/if}}
    </span>
    <p>{{effect}}</p>
</div>
