<div class="numenera chat">
    <a class="sheet" data-id={{id}} data-actor-id={{actorId}}>
        <span class="name">
            <img src={{img}} />
            {{capitalize type}}: {{name}}
        </span>
    </a><br/>
    <span class="form">Form: {{form}}</span><br/>
    {{#if laws}}
    <span class="laws">Laws: {{laws}}</span><br/>
    {{/if}}
    <span class="level">Level: {{level}}</span><br/>
    {{#if depletion}}
    <span class="depletion">
        Depletion: {{#if depletion.isDepleting}}{{depletion.threshold}} on {{depletion.die}}{{else}}--{{/if}}
    </span>
    {{else}}
    <span class="depletion">Depletion: Unknown</span>
    {{/if}}
    </span>
    <p>{{effect}}</p>
</div>
