<div class="numenera chat">
    <a class="sheet" data-id={{id}} data-actor-id={{actorId}}>
        <span class="name">
            <img src={{img}} />
            {{capitalize type}}: {{name}}
        </span>
    </a><br/>
{{#if useCypherType}}
    <span class="type">{{localize "NUMENERA.pc.numenera.cypher.type.name"}}: {{capitalize cypherType}}</span><br/>
{{/if}}
    <span class="level">{{localize "NUMENERA.pc.numenera.cypher.level"}}: {{level}}</span><br/>
    <span class="form">{{localize "NUMENERA.pc.numenera.cypher.form"}}: {{form}}</span>
    <p>{{effect}}</p>
</div>
