<div class="numenera chat">
    <a class="sheet" data-id={{id}} data-actor-id={{actorId}}>
        <span class="name">
            <img src={{img}} />
            {{capitalize type}}: {{name}}
        </span>
    </a><br/>
    <span class="active">Active: {{active}}</span><br/>
    <span class="level">Level: {{level}}</span><br/>
    <span class="laws">Laws: {{laws}}</span><br/>
    <span class="race">Race: {{race}}</span><br/>
    <span class="trait">Trait: {{trait}}</span><br/>
    <span class="focus">Focus: {{focus}}</span><br/>
    <span class="focusAbilities">Focus Abilities: {{focusAbilities}}</span>
    <p>{{notes}}</p>
</div>
