<div class="numenera chat">
    <a class="sheet" data-id={{id}} data-actor-id={{actorId}}>
        <span class="name">
            <img src={{img}} />
            {{capitalize type}}: {{name}}
        </span>
    </a><br/>
    <span class="active">{{localize "NUMENERA.item.recursion.active"}}: {{active}}</span><br/>
    <span class="level">{{localize "NUMENERA.item.recursion.level"}}: {{level}}</span><br/>
    <span class="laws">{{localize "NUMENERA.item.recursion.laws"}}: {{laws}}</span><br/>
    <span class="race">{{localize "NUMENERA.item.recursion.race"}}: {{race}}</span><br/>
    <span class="trait">{{localize "NUMENERA.item.recursion.trait"}}: {{trait}}</span><br/>
    <span class="focus">{{localize "NUMENERA.item.recursion.focus"}}: {{focus}}</span><br/>
    <span class="focusAbilities">{{localize "NUMENERA.item.recursion.focusAbilities"}}: {{focusAbilities}}</span>
    <p>{{notes}}</p>
</div>
