<div class="numenera chat">
    <a class="sheet" data-id={{id}} data-actor-id={{actorId}}>
        <span class="name">
            <img src={{img}} />
            {{capitalize type}}: {{name}}
        </span>
    </a><br/>
    <span class="type">{{localize "NUMENERA.pc.weapons.type"}}: {{localize weight}} {{localize weaponType}}</span><br/>
    <span class="range">{{localize "NUMENERA.pc.weapons.range"}: {{localize range}}</span><br/>
    <span class="damage">{{localize "NUMENERA.pc.weapons.damage"}}: {{damage}}</span><br/>
    <p>{{notes}}</p>
</div>
