<form class="{{cssClass}} numenera" autocomplete="off">
    <h1><input type="text" name="name" value="{{item.name}}"  placeholder="Item Name" /></h1>
    <div class="flexrow item">
        <div class="img">
            <img class="profile-img" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
        </div>

        <div class="ability">
            <label>
                <select name="data.isAction" data-dtype="Boolean">
                    {{#select data.isAction}}
                    <option value="true">{{localize "NUMENERA.item.ability.isAction"}}</option>
                    <option value="false" >{{localize "NUMENERA.item.ability.isEnabler"}}</option>
                    {{/select}}
                </select>
            </label>

            <label>{{localize "NUMENERA.item.ability.cost"}}
                <input type="number" name="data.cost.amount" value="{{data.cost.amount}}" min="1" data-dtype="Number" />
                <select name="data.cost.pool" data-dtype="String">
                    {{#select data.cost.pool}}
                    {{#each data.stats}}
                    <option value="{{this}}">{{localize this}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </label>

            <label>Category
                <input type="text" name="data.category" value="{{data.category}}" placeholder="{{localize "NUMENERA.item.ability.categoryPlaceholder"}}" />
                <input type="text" name="data.categoryValue" value="{{data.categoryValue}}" placeholder="{{localize "NUMENERA.item.ability.categoryValuePlaceholder"}}" />
            </label>

            <label>{{localize "NUMENERA.item.ability.tier"}}
                <input type="text" name="data.tier" value="{{data.tier}}" data-dtype="Number" />
            </label>

            <label>{{localize "NUMENERA.item.ability.range"}}
                <select name="data.range" data-dtype="String">
                    {{#select data.range}}
                    {{#each data.ranges}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </label>

            <label>{{localize "NUMENERA.item.ability.description"}}</label>
            <textarea name="data.notes">{{data.notes}}</textarea>
        </div>
    </div>
</form>