<form class="{{cssClass}} numenera item" autocomplete="off">
    <h1><input type="text" name="name" value="{{item.name}}" /></h1>
    <div class="flexrow item">
        <div class="img">
            <img class="profile-img" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
        </div>
        <div class="armor">
            <label>{{localize "NUMENERA.item.armor.weight"}}
                <select name="data.weightClass">
                    {{#select data.weightClass}}
                    {{#each weightClasses}}
                    <option value="{{this}}">{{localize this}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </label>
            <label>{{localize "NUMENERA.item.armor.armor"}}
                <input type="number" name="data.armor" value="{{data.armor}}" />
            </label>
            <label>{{localize "NUMENERA.item.armor.additionalSpeedEffortCost"}}
                <input type="number" name="data.additionalSpeedEffortCost" value="{{data.additionalSpeedEffortCost}}" />
            </label>
            <label>{{localize "NUMENERA.item.armor.price"}}
                <input type="number" name="data.price" value="{{data.price}}" class="price" data-dtype="Number" />
            </label>
            
            <label>{{localize "NUMENERA.item.armor.description"}}</label>
            <textarea name="data.notes">{{data.notes}}</textarea>
        </div>
    </div>
</form>