<form class="{{cssClass}} numenera item" autocomplete="off">
    <h1><input type="text" name="name" value="{{item.name}}" /></h1>
    <div class="flexrow item">
        <div class="img">
            <img class="profile-img" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
        </div>
        <div class="artifact">
            <label>{{localize "NUMENERA.item.artifact.level"}}
                <input type="text" id="data.levelDie" name="data.levelDie" value="{{data.levelDie}}" data-dtype="String" />
            </label>

            <label>{{localize "NUMENERA.item.artifact.form"}}
                <input type="text" id="data.form" name="data.form" value="{{data.form}}" placeholder="{{localize "NUMENERA.item.numenera.formPlaceholder"}}" data-dtype="String" />
            </label>

            <label for="data.depletion.isDepleting">{{localize "NUMENERA.item.artifact.depletion"}}
                <input type="checkbox" id="data.depletion.isDepleting" name="data.depletion.isDepleting" data-dtype="Boolean" {{checked data.depletion.isDepleting}} />
            </label>

            {{#if data.depletion.isDepleting}}
            <fieldset>
                <label for="data.depletion.die">{{localize "NUMENERA.item.artifact.depletionDie"}}
                    <input type="text" id="data.depletion.die" name="data.depletion.die" value="{{data.depletion.die}}" data-dtype="String" />
                </label>

                <label>{{localize "NUMENERA.item.artifact.depletionThreshold"}}
                    <input type="number" name="data.depletion.threshold" value="{{data.depletion.threshold}}" data-dtype="Number" />
                </label>
            </fieldset>
            {{/if}}
        </div>
    </div>
    <div class="item-notes">
        <h2>
            {{localize "NUMENERA.item.artifact.description"}}
        </h2>
        {{editor content=data.effect target="data.effect" button=true editable=editable}}
        <button type="submit" id="save-item-notes">
            <i class="fas fa-feather-alt"></i>
            {{localize "NUMENERA.pc.bio.saveChanges"}}
        </button>
    </div>
</form>
