<form class="{{cssClass}}" autocomplete="off">
    <h1><input type="text" name="data.name" value="{{data.name}}" /></h1>
    <div class="flexrow">

        <div>
            {{#if data.img}}
            <img src="{{data.img}}" /> {{/if}}
        </div>
        <div>
            <p>Level:
                <input type="text" name="data.level" value="{{data.level}}" /></p>
            <p>Form:
                <input type="text" name="data.form" value="{{data.form}}" " /></p>
            <p>Effect: <textarea name="data.effect ">{{data.effect}}</textarea></p>
            <p>Depletion: <input type="checkbox" name="data.depletion.isDepleting"
                {{#if data.depletion.isDepleting}}
                checked="checked"
                {{/if}}
                />
            </p>
            {{#if data.depletion.isDepleting}}
            <p>Die: <input type="text " name="data.depletion.die " value="{{data.depletion.die}} " /></p>
            <p>Threshold: <input type="number " name="data.depletion.threshold " value="{{data.depletion.threshold}} " /></p>
            {{/if}}
        </div>
    </div>
</form>