<form class="{{cssClass}} numenera" autocomplete="off">
    <h1><input type="text" name="name" value="{{item.name}}" /></h1>
    <div class="flexrow item">
        <div class="img">
            <img class="profile-img" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
        </div>
        <div class="artifact">
            <label>Level
                <input type="text" id="data.levelDie" name="data.levelDie" value="{{data.levelDie}}" data-dtype="String" />
            </label>

            <label>Form
                <input type="text" id="data.form" name="data.form" value="{{data.form}}" data-dtype="String" />
            </label>

            <label for="data.depletion.isDepleting">Depletion
                <input type="checkbox" id="data.depletion.isDepleting" name="data.depletion.isDepleting" data-dtype="Boolean" {{checked data.depletion.isDepleting}} />
            </label>
            
            {{#if data.depletion.isDepleting}}
            <fieldset>
                <label for="data.depletion.die">Die
                    <input type="text" id="data.depletion.die" name="data.depletion.die" value="{{data.depletion.die}}" data-dtype="String" />
                </label>

                <label>Threshold
                    <input type="number" name="data.depletion.threshold" value="{{data.depletion.threshold}}" data-dtype="Number" />
                </label>
            </fieldset>
            {{/if}}

            <label>Effect
                
            </label>
            <textarea name="data.effect" data-dtype="String">{{data.effect}}</textarea>
        </div>
    </div>
</form>