<form class="{{cssClass}} numenera item" autocomplete="off">
    <h1><input type="text" name="name" value="{{item.name}}" /></h1>
    <div class="flexrow item">
        <div class="img">
            <img class="profile-img" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
        </div>
        <div class="cypher">
            <label>{{localize "NUMENERA.item.cypher.level"}}
                <input type="text" name="data.levelDie" value="{{data.levelDie}}" data-dtype="String" />
            </label>

            {{#if useCypherTypes}}
            <label>{{localize "NUMENERA.item.cypher.type"}}
                <select name="data.cypherType" data-dtype="String" class="cypher-type">
                    {{#select data.cypherType}}
                    {{#each cypherTypes}}
                    <option value="{{this}}">{{localize this}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </label>
            {{/if}}

            <label>{{localize "NUMENERA.item.cypher.form"}}
                <input type="text" name="data.form" value="{{data.form}}" />
            </label>

            <label>{{localize "NUMENERA.item.cypher.effect"}}</label>
            <textarea name="data.effect">{{data.effect}}</textarea>
        </div>
    </div>
</form>
