<form class="{{cssClass}}" autocomplete="off">
    <h1><input type="text" name="data.name" value="{{data.name}}" /></h1>
    <div class="flexrow item">
        <div class="img">
            <img class="profile-img" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
        </div>
        <div class="cypher">
            <label>Level
                <input type="text" name="data.level" value="{{data.level}}" data-dtype="Number" />
            </label>

            <label>Form
                <input type="text" name="data.form" value="{{data.form}}" />
            </label>

            <label>Effect</label>
            <textarea name="data.effect">{{data.effect}}</textarea>
        </div>
    </div>
</form>