<form class="{{cssClass}} numenera" autocomplete="off">
    <h1><input type="text" name="name" value="{{item.name}}" /></h1>
    <div class="flexrow item">
        <div class="img">
            <img class="profile-img" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
        </div>
        <div class="description">
            <label for="item.data.notes">Description</label>
            <textarea id="item.data.notes" name="item.data.notes">{{item.data.notes}}</textarea>
        </div>
    </div>
</form>