<form class="{{cssClass}} numenera" autocomplete="off">
    <h1><input type="text" name="name" value="{{item.name}}"  placeholder="Item Name" /></h1>
    <div class="flexrow item">
        <div class="img">
            <img class="profile-img" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
        </div>

        <div class="recursion">
                  <label>{{localize "NUMENERA.item.recursion.level"}}
                      <input type="text" name="data.level" value="{{data.level}}" data-dtype="String" />
                  </label>

                  <label>{{localize "NUMENERA.item.recursion.laws"}}
                    <input type="text" name="data.laws" value="{{data.laws}}" />
                  </label>

                  <label>{{localize "NUMENERA.item.recursion.race"}}
                    <input type="text" name="data.race" value="{{data.race}}" />
                  </label>

                  <label>{{localize "NUMENERA.item.recursion.focus"}}
                  <textarea name="data.focus">{{data.notes}}</textarea>

                  <label>{{localize "NUMENERA.item.recursion.focusAbilities"}}</label>
                  <textarea name="data.notes">{{data.notes}}</textarea>
        </div>
    </div>
</form>
