<form class="{{cssClass}} numenera" autocomplete="off">
    <h1><input type="text" name="name" value="{{item.name}}"  placeholder="Item Name" /></h1>

    <div class="flexrow item">
        <div class="img">
            <img class="profile-img" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
        </div>

        <div class="skill">
            <label>Stat</label>
            <select name="data.stat">
                {{#select data.stat}}
                {{#each stats}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
                {{/select}}
                </select>
            </label>

            <label>Description</label>
            <textarea name="data.notes">{{data.notes}}</textarea>
        </div>
    </div>
</form>