<form class="{{cssClass}} numenera item" autocomplete="off">
    <h1><input type="text" name="name" value="{{item.name}}"  placeholder="Item Name" /></h1>
    <div class="flexrow item">
        <div class="img">
            <img class="profile-img" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
        </div>

        <div class="weapon">
            <label>{{localize "NUMENERA.item.weapon.weight"}}
                <select name="data.weight">
                {{#select data.weight}}
                {{#each weights}}
                    <option value="{{this}}">{{localize this}}</option>
                {{/each}}
                {{/select}}
                </select>
            </label>

            <label>{{localize "NUMENERA.item.weapon.type"}}
                <select name="data.weaponType">
                {{#select data.weaponType}}
                {{#each weaponTypes}}
                    <option value="{{this}}">{{localize this}}</option>
                {{/each}}
                {{/select}}
                </select>
            </label>

            <label>{{localize "NUMENERA.item.weapon.damage"}}
                <input type="number" name="data.damage" value="{{data.damage}}" />
            </label>

            <label>{{localize "NUMENERA.item.weapon.range"}}
                <select name="data.range">
                {{#select data.range}}
                    {{#each ranges}}
                        <option value="{{this}}">{{localize this}}</option>
                    {{/each}}
                {{/select}}
                </select>
            </label>

            <label>{{localize "NUMENERA.item.weapon.price"}}
                <input type="number" name="data.price" value="{{data.price}}" data-dtype="Number" />
            </label>
        </div>
    </div>
    <div class="item-notes">
        <h2>
            {{localize "NUMENERA.item.weapon.description"}}
        </h2>
        {{editor content=data.notes target="data.notes" button=true editable=editable}}
        <button type="submit" id="save-item-notes">
            <i class="fas fa-feather-alt"></i>
            {{localize "NUMENERA.pc.bio.saveChanges"}}
        </button>
    </div>
</form>
